{{>header}}
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Cedula</th>
      <th scope="col">Nombre</th>
      {{#if isCoordinador}}
        <th scope="col"></th>
      {{/if}}
    </tr>
  </thead>
  <tbody>
      {{#each incripcionArray}}
      <tr>
          <td>{{documentoIdentidad}}</td>
          <td>{{nombre}}</td>
          <td>
            <form action="/eliminarInscripcion" method="POST" >
              <button type="submit" class="btn btn-danger" name="id" value="{{inscripcion}}">Eliminar</button>
            </form>
          </td>
      </tr>
      {{/each}}
  </tbody>
</table>

  <form action="/curso" method="GET" >
    <button type="submit" class="btn btn-primary">Volver</button>
  </form>
{{>footer}}