{{>header}}
<div class="container-fluid">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Cedula</th>
        <th scope="col">Nombre</th>
        {{#if isCoordinador}}
        <th scope="col"></th>
        {{/if}}
        {{#if isTeacher}}
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
        {{/if}}
      </tr>
    </thead>
    <tbody>
      {{#each incripcionArray}}
      <tr>
        <td>{{documentoIdentidad}}</td>
        <td>{{nombre}}</td>
        {{#if ../isTeacher}}
        <td>{{correo}}</td>
        <td>{{telefono}}</td>
        {{/if}}
      </tr>
      {{/each}}
    </tbody>
  </table>

  <form action="/curso" method="GET">
    <button type="submit" class="btn btn-primary">Volver</button>
  </form>
</div>
{{>footer}}