{{>header}}
<form action="/cursoIniciarDocente" method="POST" >
    <div class="form-row">
        <input type="hidden" name="idCurso" value="{{idCurso}}" />
        <div class="col">
            <label for="exampleInputEmail1">Docente</label>
            <select class="form-control" name="idDocente" id="docente">
                {{#each docentes}}
                    <option value="{{idDocente}}">{{nombre}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            <button>Iniciar</button>
        </div>
    </div>
</form>
{{>footer}}